html
body {background-color: black;
    margin: 0;
    margin-top: none;
    font-family: sans-serif;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: red;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 1000px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

{
  box-sizing: border-box;
}

column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

row::after {
  content: "";
  clear: both;
  display: table;
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%;
    
}
    
    img-wrap a img{
 					display:block;
			}
			.
    img-wrap > a{
 					display:inline-block;
 					vertical-align: middle;
 					border: 1px solid #555
			}
}


footer {
    text-align: center;
    padding: 50px;
}

#hero h1 {
    font-size: 3em;
    color: red;
}

section h2 {
    font-size: 2.5em;
    color:red;
}

section h3 {
    font-size: 1.5em;
    color: whitesmoke
}

header a {
    text-decoration: none;
    color: black;
}



#hero {
    background-image: url('');
}

#about {
    background-image:  url('https://raw.githubusercontent.com/Eoghan1156/ImageHost/master/porfolio%20background4.png');
}
